body{
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    background-color: #1a1a1a;
    color: white;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
}

a:hover{
    color: lightsalmon;
}

#entete{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

#logo{
    width: 30px;
    padding:5px;
    height: 40px;
    margin-left: 10px;
}

#logo:hover{
    transition: 0.5s;
    background-color: lightsalmon;
    border-radius: 5px;
}

#menu ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding-right: 20px;
    align-items: center;
    flex-direction: row;
}

#menu a{
    font-size: 1.1em;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#menu a:hover{
    color: lightsalmon;
}

footer{
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

main{
    text-align: center;
}

h2{
    padding: 20px;
    text-align: center;
}

#part_1{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#part_1 img{
    width: 100%;
}

#ainfo{
    position: absolute;
    text-align: center;
}

#ainfo h2{
    color: white;
    text-shadow: 0px 0px 8px black;
}

.bouton{
    background-color:orange;
    color: white;
    padding:10px;
    border:none;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
}

.bouton:hover{
    background-color:lightsalmon;
    color: white;
    padding:10px;
    border:none;
    border-radius: 15px;
    font-weight: bold;
}

#btn_menu{
    margin-right: 20px;
}

#checks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

}

#checks > div {
    flex: 1 1 250px;
    min-width: 250px;
}

.checkbox {
    margin-bottom: 10px;
}

.checkbox input {
    margin-left: 10px;
}

input[type="text"]{
    border-radius: 5px;
    border-style: hidden;
    padding: 5px;
    box-shadow: 2px 2px 7px grey;
}

input[type="number"]{
    border-radius: 5px;
    border-style: hidden;
    padding: 5px;
    box-shadow: 2px 2px 7px grey;
}

.media_list{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

    justify-self: center;
    border-radius: 20px;
    box-shadow: 2px 2px 7px lightsalmon;

    padding-right: 40px;
}

#List_item{
    display: flex;
    flex-direction: row;
    gap:20px;
    text-decoration: none;
    list-style: none;
}

#List_item li{
    text-decoration: none;
}

button{
    border-radius: 10px;
    border-style: hidden;
    padding: 10px;
    color: white;
    background-color: darkorange;
    box-shadow: 2px 2px 7px grey;
}

#part_2{
    padding-top: 50px;
    padding-bottom: 50px;
}

#part_3{
    padding-top:50px;
    background-color: antiquewhite;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-bottom: 50px;
}

#media{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 50px;
    height: 100%;
    min-height: 591px;
    align-items: center;
}

.media_section1{
    width: 30%;
    text-align: left;
}

.media_section2{
    width: 70%;
}