<!DOCTYPE html>
<html lang="en">

<head th:replace="~{includes/layout.html :: head}"></head>

<body>
<header th:replace="~{includes/layout.html :: header}"></header>

<main>
    <h1>Explore the database</h1>
    <div th:each="media : ${medias}" class="media_list">
        <div class="List">
            <a th:href="|media?id=${media.id}|"><h3 th:text="${media.nom}">Name</h3></a>
            <ul th:each="genre : ${media.genres}" class="List_item">
                <li th:text="${genre}">Genre</li>
            </ul>
        </div>
        <div>
            <p>Added: <span th:text="${media.datesortie}">dd.mm.yyyy</span></p>
        </div>
    </div>
</main>

<footer th:replace="~{includes/layout.html :: footer}"></footer>
</body>
</html>
