<!DOCTYPE html>
<html lang="en">

<head th:replace="~{includes/layout.html :: head}"></head>

<body>
<header th:replace="~{includes/layout.html :: header}"></header>

  <main>
    <div id="part_1">
      <img src="img/banner.jpg" alt="">
      <div id="ainfo">
          <!--<h2 th:text="${title}">Title fallback</h2> -->
          <h2>Explore our wide range of media</h2>
          <a class="bouton" th:href="|explore|">En savoir plus</a>
      </div>
    </div>
      <div id="part_2">
          <form action="/media/search" method="get">
              <h1>Search</h1>
              <div id="checks">
                  <div>
                      <h3>Genres</h3>
                      <div th:each="genre : ${genres}" class="box">
                          <input type="checkbox" th:value="${genre}" class="box" name="genres" >
                          <label th:text="${genre}">Genre</label>
                      </div>
                  </div>
                  <div>
                      <h3>Media type</h3>
                      <div th:each="mediatype : ${mediatypes}" class="box">
                          <input type="checkbox" class="box" name="mediatype" th:value="${mediatype}">
                          <label th:text="${mediatype}">Type</label>
                      </div>
                  </div>
                  <div>
                      <h3>Video game type</h3>
                      <div th:each="VideoGameType : ${jeuvideotypes}" class="box">
                          <input type="checkbox" class="box" name="videogametype" th:value="${VideoGameType}">
                          <label th:text="${VideoGameType}">Type</label>
                      </div>
                  </div>
                  <div>
                      <h3>BD option</h3>
                      <div class="box">
                          <input type="checkbox" class="box" name="color" value="color">
                          <label >Color</label>
                      </div>
                  </div>
                  <div>
                      <h3>Book option</h3>
                      <p>Number of pages</p>
                      <input type="number" name="pagesnb" min="1">
                  </div>
                  <!--<div>
                      <h3>Film option</h3>
                      <p>Duration (minutes)</p>
                      <input type="number" name="Duration" min="1">
                  </div>-->
                  <div>
                      <h3>Serie option</h3>
                      <p>Number of season</p>
                      <input type="number" name="seasonnb">
                  </div>
                  <div>
                      <h3>Keyword</h3>
                      <input type="text" id="search" name="keyword">
                      <button type="submit" class="btn btn-success btn-block mb-3 btn-rounded" value="submit"><a th:href="|result?search=oui|">Search</a></button>
                  </div>
              </div>
          </form>
      </div>
      <div id="part_3">
          <div><h1>Last added</h1></div>
          <div th:each="media : ${medias}" class="media_list">
              <div class="List">
                  <a th:href="|media?id=${media.id}|" th:text="${media.nom}"><h3>Name</h3></a>
                  <ul th:each="genre : ${media.genres}" class="List_item">
                      <li th:text="${genre}">Genre</li>
                  </ul>
              </div>
              <div>
                  <p>Added: <span th:text="${media.datesortie}">dd.mm.yyyy</span></p>
              </div>
          </div>
      </div>
  </main>

<footer th:replace="~{includes/layout.html :: footer}"></footer>
</body>
</html>
