<!DOCTYPE html>
<html lang="en">

<head th:replace="~{includes/layout.html :: head}"></head>

<body>
<header th:replace="~{includes/layout.html :: header}"></header>

<main id="insert">
    <h1>Insert a new media</h1>

    <form id="mainForm" action="/media" method="post"> </form>

    <div class="form_part">
        <h2>Genres:</h2>
        <form action="/insert/addgenre" method="post">
            <label for="genre">Add genre:</label>
            <select  id="genre" name="genre">
                <option th:each="genre : ${allGenres}" th:value="${genre}" th:text="${genre}">Genre</option>
            </select>
            <input type="submit" value="Add">
        </form>
        <h4>Genre selected:</h4>
        <ul>
            <li th:each="genre : ${session.genres}">
                <form action="insert/removegenre" method="post">
                    <span th:text="${genre}">Genre </span>
                    <input type="hidden" name="genre" th:value="${genre}">
                    <input type="submit" value="remove">
                </form>
                <input type="hidden" name="genres" th:value="${genre}" form="mainForm">
            </li>
        </ul>
    </div>


    <div class="form_part">
        <h2>Creators:</h2>
        <div>
            <form action="insert/addcreator" method="post">
                <label for="addcreator">Select creator:</label>
                <select  id="addcreator" name="id">
                    <option th:unless="${creator.prenom == null}" th:each="creator : ${allCreators}" th:value="${creator.id}" th:text="|${creator.nom} ${creator.prenom}|">Creator</option>
                    <option th:if="${creator.prenom == null}" th:each="creator : ${allCreators}" th:value="${creator.id}" th:text="${creator.nom}">Creator</option>
                </select>
                <input type="submit" value="Add">
            </form>

        </div>
        <form action="insert/createcreator" method="post">
            <h4 for="createcreator">Add creator:</h4>

            <label>Type of creator:</label>
            <label for="creatorTypePerson">Person</label>
            <input type="radio" name="typecreateur" id="creatorTypePerson" value="personne" checked>
            <label for="creatorTypeGroup">Group</label>
            <input type="radio" name="typecreateur" id="creatorTypeGroup" value="groupe">
            <br>
            <label for="createcreatorname">Name: </label>
            <input type="text" id="createcreatorname" name="nom" required>
            <div id="creatorFirstNameForm">
                <label for="createcreatorfirstname">First name: </label>
                <input type="text" id="createcreatorfirstname" name="prenom">
            </div>
            <br>

            <input type="submit" value="Add">
        </form>
        <h4>Creators selected:</h4>
        <ul>
            <li th:each="creator : ${selectedCreators}">
                <form action="insert/removecreator" method="post">
                    <span th:if="${creator.prenom == null}" th:text="${creator.nom}">Creator</span>
                    <span th:unless="${creator.prenom == null}" th:text="|${creator.nom} ${creator.prenom}|">Creator</span>
                    <input type="hidden" name="id" th:value="${creator.id}">
                    <input type="submit" value="remove">
                </form>
                <input type="hidden" name="createurs" th:value="${creator.id}" form="mainForm">
            </li>
        </ul>
    </div>

    <div class="form_part">
        <label for="type">Type:</label>
        <select id="type" name="typemedia" form="mainForm">
            <option value="film">Film</option>
            <option value="serie">Série</option>
            <option value="jeuvideo">Jeu-Vidéo</option>
            <option value="livre">Livre</option>
            <option value="bd">BD</option>
        </select>
    </div>


    <div class="form_part jeuvideoForm">
        <div>
            <h3>Select video game types: </h3>
            <form action="insert/addvideogametype" method="post">
                <label for="videoGameType">Add video game type</label>
                <select id="videoGameType" name="jeuvideotype">
                    <option th:each="videoGameType : ${allJeuvideotypes}" th:value="${videoGameType}" th:text="${videoGameType}">Genre</option>
                </select>
                <input type="submit" value="Add">
            </form>
            <h4>Video game types selected:</h4>
            
            <ul>
                <li th:each="videoGameTypeSelected : ${session.jeuvideotypes}">
                    <form action="insert/removevideogametype" method="post">
                        <span th:text="${videoGameTypeSelected}">Type </span>
                        <input type="hidden" name="jeuvideotype" th:value="${videoGameTypeSelected}">
                        <input type="submit" value="remove">
                    </form>
                    <input type="hidden" name="jeuvideotypes" th:value="${videoGameTypeSelected}" form="mainForm">
                </li>
            </ul>
        </div>
    </div>
    <div class="form_part">
        <h2>Infos:</h2>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="nom" form="mainForm" required>
        </div>

        <div class="bdForm">
            <label>BD Color:</label>
            <label for="couleurTrue">Colored</label>
            <input type="radio" name="couleur" id="couleurTrue" value="true" form="mainForm" checked>
            <label for="couleurTrue">Black and white</label>
            <input type="radio" name="couleur" id="couleurFalse" value="false" form="mainForm">
        </div>

        <div class="serieForm">
            <label for="saison">Season:</label>
            <input type="number" name="saison" id="saison" min="1" value="1" form="mainForm">
        </div>

        <div class="livreForm">
            <label for="pages">Page number:</label>
            <input type="number" min="1" id="pages" name="pages" value="1" form="mainForm">
        </div>

        <div class="filmForm">
            <label for="duree">Duration (mins):</label>
            <input type="number" id="duree" name="duree" value="1" form="mainForm">
        </div>

        <label for="date">Release date:</label>
        <input type="date" id="date" name="datesortie" form="mainForm" required>

        <label for="description">Description:</label>
        <textarea name="description" id="description" form="mainForm" required></textarea>
    </div>

    <br>

    <input type="submit" value="Create" form="mainForm">
</main>

<footer th:replace="~{includes/layout.html :: footer}"></footer>
<script>
    var typeSelectInput = document.getElementById("type");

    function updateInsertForm(){
        let type = typeSelectInput.value;

        ["jeuvideo", "film", "livre", "bd", "serie"].forEach( s => {
            for(x of document.getElementsByClassName(s + "Form"))
                x.style.display = type === s ? "flex" : "none";
        })

    }

    function updateAddCreatorForm(event){
        console.log(event.target.id)
        var firstNameInput = document.getElementById("creatorFirstNameForm");

        if(event.target.id === "creatorTypePerson")
            firstNameInput.style.display = "block"
        else
            firstNameInput.style.display = "none"

    }

    typeSelectInput.addEventListener("input", updateInsertForm);
    document.getElementById("creatorTypePerson").addEventListener('change', updateAddCreatorForm)
    document.getElementById("creatorTypeGroup").addEventListener('change', updateAddCreatorForm)

    updateInsertForm();
</script>
</body>
</html>
