<!DOCTYPE html>
<html lang="en">

<head th:replace="~{includes/layout.html :: head}"></head>

<body>
<header th:replace="~{includes/layout.html :: header}"></header>

<main>
    <div id="login">
        <h1>Login</h1>
        <div>
            <form action="/login" method="post">
                <p>Username</p>
                <input type="text" name="nom" id="username">
                <p>Password</p>
                <input type="password" name="motdepasse" id="password">
                <div><button type="submit">Login</button></div>
            </form>
        </div>
    </div>
    <div id="ask"><a href="login_creation">Pas de compte?</a></div>
</main>

<footer th:replace="~{includes/layout.html :: footer}"></footer>
</body>
</html>
