<!DOCTYPE html>
<html lang="en">

<head th:replace="~{includes/layout.html :: head}"></head>

<body>
<header th:replace="~{includes/layout.html :: header}"></header>

<main>
    <h1 th:text="${genres.nom()}">titre</h1>
    <div id="media">
        <div class="media_section1">
            <div>
                <form>
                    <label for="add_to_list">Add to list:</label>
                    <select  id="add_to_list" name="add_to_list">
                        <option th:each="liste : ${lists}" th:value="${list.nom()}" th:text="${list.nom()}">list</option>
                    </select>
                    <button type="submit">Add</button>
                </form>

            </div>
            <div>
                <h3>Note</h3>
                <p><span th:text="${media.note()}">x</span>/5</p>
            </div>
            <div>
                <h3>Creator</h3>
                <ul th:each="creator : ${creators}">
                    <li th:text="${creator.nom()} ${creator.prenom()}">Genre</li>
                </ul>
            </div>
            <div>
                <h3>Media Type</h3>
                <p th th:text="${media.typemedia()}">NOM</p>
            </div>
            <h3>Genres</h3>
            <ul th:each="genre : ${genres}">
                <li th:text="${genre.nom()}">Genre</li>
            </ul>
        </div>
        <div class="media_section2">
            <h2>Description</h2>
            <p th:text="${media.description()}">Lorem ipsum</p>
        </div>
    </div>
    <div id="commentaires">
        <h2>Comments</h2>
        <form id="comment">
            <label>Note</label>
            <input type="number" name="note" min="1" max="5">
            <label>Comment</label>
            <textarea name="comment-body"></textarea>
            <button type="submit">Submit</button>
        </form>
        <div th:each="commentaire : ${commentaires}" class="commentaire">
            <div class="title">
                <h3 th:text="${commentaire.nom()}">user</h3>
                <p><span th:text="${commentaire.note()}">x</span>/5</p>
            </div>
            <div>
                <p th:text="${commentaire.text()}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus consequat iaculis. Nullam pulvinar nisi ac urna congue, in mattis leo ullamcorper.
                </p>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{includes/layout.html :: footer}"></footer>
</body>
</html>
