<!DOCTYPE html>
<html lang="en">

<head th:replace="includes/layout :: head"></head>

<body>
<header th:replace="includes/layout :: header"></header>

<main>
    <h1 th:text="${genres[0].nom()}">titre</h1>
    <div id="media">
        <div class="media_section1">
            <div>
                <form>
                    <label for="list">add to list:</label>
                    <select  id="list" name="add_list">
                        <option th:each="genre : ${genres}" th:value="${genre.nom()}" th:text="${genre.nom()}">list</option>
                    </select>
                    <button type="submit">Add</button>
                </form>

            </div>
            <div>
                <h3>Note</h3>
                <p><span th:text="${genres[0].nom()}">x</span>/5</p>
            </div>
            <div>
                <h3>Réalisateur</h3>
                <p th:text="${genres[0].nom()}">NOM</p>
            </div>
            <h3>Genres</h3>
            <ul th:each="genre : ${genres}">
                <li th:text="${genre.nom()}">Genre</li>
            </ul>
        </div>
        <div class="media_section2">
            <h2>Description</h2>
            <p th:text="${genres[0].nom()}">Lorem ipsum</p>
        </div>
    </div>
    <div id="commentaires">
        <h2>Comments</h2>
        <form id="comment">
            <label>Note</label>
            <input type="number" name="note" min="1" max="5">
            <label>Comment</label>
            <textarea name="comment-body"></textarea>
            <button type="submit">Submit</button>
        </form>
        <div th:each="genre : ${genres}" class="commentaire">
            <div class="title">
                <h3 th:text="${genre.nom()}">user</h3>
                <p><span th:text="${genre.nom()}">x</span>/5</p>
            </div>
            <div>
                <p th:text="${genre.nom()}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus consequat iaculis. Nullam pulvinar nisi ac urna congue, in mattis leo ullamcorper.
                </p>
            </div>
        </div>
    </div>
</main>

<footer th:replace="includes/layout :: footer"></footer>
</body>
</html>
