<!DOCTYPE html>
<html lang="en">

<head th:replace="includes/layout :: head"></head>

<body>
<header th:replace="includes/layout :: header"></header>

<main>
    <h1>Your lists</h1>
    <div th:each="genre : ${genres}" class="list_lists">
        <div><a href="list.html"><h3 th:text="${genre.nom()}">list</h3></a></div>
        <div><p>Added: <span th:text="${genre.nom()}">dd.mm.yyyy</span></p></div>
    </div>
</main>

<footer th:replace="includes/layout :: footer"></footer>
</body>
</html>