body{
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    background-color: #1a1a1a;
    color: white;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
}

a:hover{
    color: lightsalmon;
}

#entete{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

#logo{
    width: 30px;
    padding:5px;
    height: 40px;
    margin-left: 10px;
}

#logo:hover{
    transition: 0.5s;
    background-color: lightsalmon;
    border-radius: 5px;
}

#menu ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding-right: 20px;
    align-items: center;
    flex-direction: row;
}

#menu a{
    font-size: 1.1em;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#menu a:hover{
    color: lightsalmon;
}

main{
    text-align: center;
}

h2{
    padding: 20px;
    text-align: center;
}

#part_1{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#part_1 img{
    width: 100%;
}

#ainfo{
    position: absolute;
    text-align: center;
}

#ainfo h2{
    color: white;
    text-shadow: 0px 0px 8px black;
}

.bouton{
    background-color:orange;
    color: white;
    padding:10px;
    border:none;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
}

.bouton:hover{
    background-color:lightsalmon;
    color: white;
    padding:10px;
    border:none;
    border-radius: 15px;
    font-weight: bold;
}

#btn_menu{
    margin-right: 20px;
}

